{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li class="flash-message {% if message.tags %} flash-message--{{ message.tags }}{% endif %}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="wrapper">
    <article class="event">
        <div class="event__main">
            <header class="event__header">
                <div class="chip chip--category">
                    <a class="category-{{ event.category }}-color category-detail__link no-effect-link" href="{% url 'events:index' %}?category={{ event.category }}" title="Zobacz spotkania z kategorii {{ event.category }}">
                        <i class="category-{{ event.category }}-color fas {% if event.category == 'sport' %}fa-futbol{% elif event.category == 'muzyka' %}fa-music{% elif event.category == 'nauka' %}fa-book{% elif event.category == 'sztuka' %}fa-paint-brush{% elif event.category == 'gry' %}fa-gamepad{% elif event.category == 'pozostałe' %}fa-question{% endif %} fa-lg"></i>
                        <span class="event__category__name">{{ event.category|capfirst }}</span>
                    </a>
                </div>
                <h2 class="event__title not-exceed">{{ event.title }}</h2>
                <a class="event__organizer-link no-effect-link" href="{% url 'profile' event.organizer.username %}" title="Zobacz profil - {{ event.organizer.first_name }} {{ event.organizer.last_name }}">
                    <img class="photo-sm circle" src="{{ event.organizer.profile.photo_or_default }}" alt="Zdjęcie organizatora - {{ event.organizer.first_name }} {{ event.organizer.last_name }}">
                    <span class="event__organizer-name">{{ event.organizer.first_name }} {{ event.organizer.last_name }}</span>
                </a>
            </header>
            <section class="event__time-place">
                <h3 class="event__section-headline">Szczegóły</h3>
                <div class="card__event-basics event__basics">
                    <i class="card__icon material-icons">access_time</i>
                    <time class="card__event-basics__column card__event-basics__column--first" datetime="{{ event.date|date:'c' }}">
                        <span>{{ event.date|date:"l" }},</span>
                        <span>{{ event.date|date:"j E Y" }},</span>
                        <span>godz. {{ event.date|date:"H:i" }}</span>
                    </time>
                    <i class="card__icon material-icons">location_on</i>
                    <address class="card__event-basics__column">
                        <span>{{ event.city }}{% if event.city_area %}, </span><span>{{ event.city_area }}{% endif %}</span>
                    </address> 
                </div>
            </section>
            
            <section class="event__description">
                <h3 class="event__section-headline">Opis</h3>
                <p class="event__text not-exceed">{{ event.description }}</p>
            </section>
            <footer class="event__tags">
                {% for tag in event.tags.all %}
                <div class="chip">
                    <a class="tag no-effect-link" href="{% url 'events:index' %}?tag={{ tag.name }}" title="Zobacz spotkania z tagiem {{ tag.name }}">{{ tag.name }}</a>
                </div>
                {% endfor %}
            </footer>
        </div>
        
        <div class="event__community">
             {% if user == event.organizer %}
                <div class="card__event__user-status">
                    <i class="material-icons material-icons--inline material-icons--mid">verified_user</i>
                    {% if event.is_expired %}Byłeś{% else %}Jesteś{% endif %} organizatorem
                </div>
                {% if not event.is_expired %}
                <a class="btn btn--join btn--warning" href="{% url 'events:edit' event.id %}" title="Przejdź do formularza edycji spotkania">Edytuj spotkanie</a>
                <a class="btn btn--join btn--custom waves-effect waves-light" href="{% url 'events:promote' event.id %}" title="Przejdź do formularz przekazywania roli organizatora">Przekaż rolę organizatora</a>
                <a class="btn btn--join btn--danger" href="{% url 'events:delete' event.id %}" title="Usuń spotkanie">Usuń spotkanie</a>
                {% endif %}
                {% elif user in event.participants.all %}
                <span class="card__event__user-status">
                    <i class="material-icons material-icons--inline material-icons--mid">verified_user</i>
                    {% if event.is_expired %}Wziąłeś{% else %}Bierzesz{% endif %} udział
                </span>
                {% if not event.is_expired %}
                <a class="btn btn--custom btn--join waves-effect waves-light" href="{% url 'events:leave' event.id %}" title="Opuść spotkanie">Opuść spotkanie</a>
                {% endif %}
                {% else %}
                {% if event.is_expired %}
                <span class="color-warning">
                     <i class="material-icons material-icons--inline material-icons--mid">beenhere</i>
                    Spotkanie już się odbyło.
                </span>
                {% endif %}
                {% if event.participants.count < event.max_number_of_participants %}
                <a class="btn-large btn--primary btn--join waves-effect waves-light" href="{% url 'events:join' event.id %}" title="Dołącz do spotkania" {% if event.is_expired %}disabled{% endif %}>Dołącz</a>
                {% else %}
                <span class="card__event__user-status">
                    <i class="material-icons material-icons--inline material-icons--mid">check_box</i>
                    Osiągnięto maksymalną liczbę uczestników.
                </span>
                {% endif %}
            {% endif %}

            <section class="card">
                <div class="card-content center-align">
                    <h3 class="card-title">Uczestnicy</h3>
                    <div class="event__participants">
                       <div>
                            <i class="card__icon material-icons">people</i>
                            <b>{{ event.participants.count }}</b>/{{ event.max_number_of_participants }}
                            {% if event.min_number_of_participants %}
                            <span class="right-align">(min. {{ event.min_number_of_participants }})</span>
                            {% endif %}
                        </div>
                        <div class="progress">
                             <div class="determinate category-{{ event.category }}-background" style="width:{% widthratio event.participants.count event.max_number_of_participants 100 %}%"></div>
                        </div>
                    </div>
                    <div class="event__participants-list">
                        <ul>
                            {% for participant in event.participants.all %}
                            <li class="event__participant">
                                <a class="event__participant-link event__participant__link no-effect-link" href="{% url 'profile' participant.username %}" title="Zobacz profil - {{ participant.first_name }} {{ participant.last_name }}">
                                    <img class="photo-md circle" src="{{ participant.profile.photo_or_default }}" alt="Zdjęcie użytkownika - {{ participant.first_name }} {{ participant.last_name }}">
                                    <span class="event__participant-name">{{ participant.first_name }} {{ participant.last_name }}</span>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </section>
        </div>
        
        {% if user in event.participants.all %}
        <!-- Chat View -->
        <section class="card card--message event__messages">
            <div class="card-content card-content--message">
                <h3 class="card-title card-title--message center-align">Wiadomości</h3>
                <ul class="chat__messages">
                    {% if event.chat.message_set.all %}
                    {% for message in event.chat.message_set.all %}
                    <li class="messages__item clearfix">
                        <div class="message__time{% if message.author == request.user %} right-align{% endif %}">
                            <time datetime="{{ message.timestamp|date:'c' }}">{{ message.timestamp }}</time>
                        </div>
                        {% if not message.author == request.user %}
                        <a class="no-effect-link" href="{% url 'profile' message.author %}" title="Zobacz profil - {{ message.author.first_name }} {{ message.author.last_name }}">
                            <img class="circle photo-md"src="{{ message.author.profile.photo_or_default }}" alt="Zdjęcie - {{ message.author.first_name }} {{ message.author.last_name }}">
                        </a>
                        {% endif %}
                        <p class="message{% if message.author == request.user %} message--user right{% endif %} not-exceed">{{ message.content }}</p>
                    </li>
                    {% endfor %}
                    {% else %}
                    <span>Brak wiadomości</span>
                    {% endif %}
                </ul>
                <form class="card-action clearfix" action="{% url 'events:detail' event.id %}" method="POST">
                    {% csrf_token %}
                    <div class="input-field">
                    {{ form.content.label_tag }}
                    {{ form.content }}
                    {% if form.content.errors %}
                        {% for error in form.content.errors %}
                        <span class="helper-text helper-text--wrong">{{ error|escape }}</span>
                        {% endfor %}
                    {% endif %}
                    </div>
                    <input class="btn btn--primary" type="submit" value="Wyślij">
                </form>
            </div>
        </section>
        {% endif %}
    </article>
</div>
{% endblock %}