<!-- Password Change Page -->
{% extends "base.html" %}

{% block content %}
<div class="wrapper">
    <h2 class="page-headline">Zmień hasło</h2>
    <div class="card card--form margin-footer">
        <div class="card-content card-content--form">
            <!-- Password Change Form -->
            <form class="custom-form" action="{% url 'password_change' %}" method="POST">
                <i class="medium material-icons">vpn_key</i>
                <h3 class="card-title card-title--top-icon">Zmiana hasła</h3>
                {% csrf_token %}
                {% if form.non_field_errors %}
                <ul>
                    {% for error in form.non_field_errors %}
                    <li class="helper-text helper-text--wrong left-align">{{ error|escape }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                <!-- Old Password Input -->
                <div class="input-field">
                    {{ form.old_password.label_tag }}
                    {{ form.old_password }}
                    {% if form.old_password.errors %}
                    <ul>
                        {% for error in form.old_password.errors %}
                        <li class="helper-text helper-text--wrong left-align">{{ error|escape }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>

                <!-- New Password Input -->
                <div class="input-field">
                    {{ form.new_password1.label_tag }}
                    {{ form.new_password1 }}
                    <ul class="browser-default">
                        <li class="helper-text helper-text--list-item left-align">Twoje hasło nie może być zbyt podobne do twoich innych danych osobistych.</li>
                        <li class="helper-text helper-text--list-item left-align">Twoje hasło musi zawierać co najmniej 8 znaków.</li>
                        <li class="helper-text helper-text--list-item left-align">Twoje hasło nie może być powszechnie używanym hasłem.</li>
                        <li class="helper-text helper-text--list-item left-align">Twoje hasło nie może składać się tylko z cyfr.</li>
                    </ul>
                    {% if form.new_password1.errors %}
                    <ul>
                        {% for error in form.new_password1.errors %}
                        <li class="helper-text helper-text--wrong left-align">{{ error|escape }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>

                <!-- Repeat New Password Input -->
                <div class="input-field">
                    {{ form.new_password2.label_tag }}
                    {{ form.new_password2 }}
                    {% if form.password2.errors %}
                    <ul>
                        {% for error in form.new_password2.errors %}
                        <li class="helper-text helper-text--wrong left-align">{{ error|escape }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>


                <!-- Submit Button -->
                <button class="btn btn--primary btn--custom-form waves-effect waves-light" type="submit">Zatwierdź zmiany</button>
                <!-- Cancel Button -->
                <a class="btn btn--custom btn--cancel" href="{% url 'profile' request.user.get_username %}" title="Zrezygnuj z akcji">Anuluj</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}