{% extends "base.html" %}

{% block content %}
<article class="wrapper text-wrapper">
    <h2 class="page-headline">Bibliografia</h2>
    <section>
        <h3 class="about__section-headline left-align">Publikacje drukowane</h3>
        <ol>
            <li class="bibliography__item">Krug S., Nie każ mi myśleć! O&nbsp;życiowym podejściu do&nbsp;funkcjonalności stron internetowych, wyd. 3, tłum. P.&nbsp;Cieślak, Gliwice 2014.</li>
            <li class="bibliography__item">Pinker S., Efekt wioski. Jak kontakty twarzą w&nbsp;twarz mogą uczynić nas zdrowszymi, szczęśliwszymi i&nbsp;mądrzejszymi, tłum. M.&nbsp;Szymczukiewicz, Kielce 2015.</li>
            <li class="bibliography__item">Strykowska J., Znaczenie mediów społecznościowych w&nbsp;procesie komunikowania i&nbsp;uczenia się, w&nbsp;zbiorze: Media, edukacja, kultura. W stronę edukacji medialnej, red. W.&nbsp;Skrzydlewski, S.&nbsp;Dylak, Poznań 2012.</li>
            <li class="bibliography__item">Tur N., Czy Internet zastąpił trzepak?, w zbiorze: Nastolatki wobec Internetu, red. M.&nbsp;Tanaś, Warszawa 2016.</li>
        </ol>
    </section>
    <section>
        <h3 class="about__section-headline left-align">Źródła internetowe</h3>
        <ol class="margin-footer not-exceed">
            <li class="bibliography__item">Gallagher N., About normalize.css, Nicolasgallagher.com, 28.02.2012 [online] http://nicolasgallagher.com/about-normalize-css, dostęp: 11.06.2018.</li>
            <li class="bibliography__item">Inclusive Design Principles, praca zbior. [online] http://inclusivedesignprinciples.org, dostęp: 24.01.2018.</li>
			<li class="bibliography__item">Introduction – Material Design [brak inf. o aut.] [online] https://material.io/design/introduction, dostęp: 11.06.2018.</li>
            <li class="bibliography__item">Juszczyk S., Internet &ndash; współczesne medium komunikacji społecznej [online] http://ktime.up.krakow.pl/symp2011/referaty2011/juszczyk.pdf, dostęp: 24.01.2018.</li>
            <li class="bibliography__item">Kortas M., Progressive Enhancement &ndash; zapomniany fundament, Webroad.pl, 10.11.2014 [online] https://webroad.pl/inne/3722-progressive-enhancement-zapomnianyfundament, dostęp: 11.06.2018.</li>
            <li class="bibliography__item">Most famous social network sites worldwide as of April 2018, ranked by number of active users (in millions) [brak inf. o aut.] Statista, 04.2018 [online] https://www.statista.com/statistics/272014/global-social-networks-ranked-by-number-of-users, dostęp: 29.05.2018.</li>
            <li class="bibliography__item">Społeczeństwo informacyjne w&nbsp;Polsce. Wyniki badań statystycznych z&nbsp;lat 2013-2017, praca zbior., red. E.&nbsp;Kacperczyk, B.&nbsp;Rzymek, 14.12.2017 [online] http://stat.gov.pl/obszary-tematyczne/nauka-i-technika-spoleczenstwoinformacyjne/spoleczenstwo-informacyjne/spoleczenstwo-informacyjne-w-polsce-wyniki-badan-statystycznych-z-lat-2013-2017,1,11.html, dostęp: 24.01.2018.</li>
            <li class="bibliography__item">Starkov V., Strukchinsky V., BEM &ndash; Block Element Modifier [online] http://getbem.com, dostęp: 11.06.2018.</li>
            <li class="bibliography__item">User Experience Basics [brak inf. o aut.] Usability.gov [online] https://www.usability.gov/what-and-why/user-experience.html, dostęp: 11.06.2018.</li>
        </ol>
    </section>
</article>
{% endblock %}