{% extends "base.html" %}

{% block content %}
<article class="wrapper text-wrapper">
    <h2 class="page-headline">Regulamin serwisu</h2>
    <ol class="margin-footer">
        <li class="bibliography__item">Użytkownik, rejestrując się w serwisie, ma&nbsp;prawo do&nbsp;korzystania ze&nbsp;wszystkich funkcji systemu całkowicie za&nbsp;darmo i&nbsp;bez ograniczeń.</li>
        <li class="bibliography__item">Z&nbsp;usług serwisu korzystać mogą osoby, które ukończyły 18. rok życia.</li>
        <li class="bibliography__item">Użytkownik oświadcza, że&nbsp;wszelkie podane przez niego informacje w&nbsp;trakcie rejestracji w&nbsp;serwisie i&nbsp;w&nbsp;jakimkolwiek innym momencie są&nbsp;prawdziwe i&nbsp;pełne.</li>
        <li class="bibliography__item">Użytkownik ponosi pełną odpowiedzialność za&nbsp;swoje konto i&nbsp;wszelkie działania wykonywane za&nbsp;jego pośrednictwem, w&nbsp;tym za&nbsp;treści jakie umieszcza w&nbsp;serwisie. Wszelkie publikacje powinny być zredagowane w&nbsp;czytelny sposób i&nbsp;nie&nbsp;wprowadzać w&nbsp;błąd.</li>
        <li>
            <p class="first-paragraph">Zabrania się udostępniania za&nbsp;pośrednictwem serwisu:</p>
            <ol class="list-indent" type="a">
                <li>treści nawołujących do&nbsp;przemocy i&nbsp;szerzących nienawiść,</li>
                <li>treści brutalnych i&nbsp;drastycznych,</li>
                <li>treści dyskryminacyjnych,</li>
                <li>treści pornograficznych lub zawierających elementy nagości,</li>
                <li>treści promujące działania, które mogą być niebezpieczne 
                lub szkodliwe dla innych osób,</li>
                <li>treści i&nbsp;wypowiedzi wulgarnych lub obraźliwych, w&nbsp;tym zawierających przekleństwa,</li>
                <li>treści o&nbsp;charakterze matrymonialnym,</li>
                <li>treści naruszających prawa osób trzecich,</li>
                <li>treści niezgodnych z&nbsp;obowiązującym prawem,</li>
                <li>linków reklamowych.</li>
            </ol>
        </li>
        <li class="bibliography__item">Zabrania się organizowania za&nbsp;pośrednictwem serwisu spotkań, które mają 
        na&nbsp;celu spożywanie alkoholu.</li>
        <li class="bibliography__item">Użytkownik zobowiązany jest do&nbsp;zachowania zasad współżycia społecznego i&nbsp;dobrych obyczajów. Zabronione jest oczernianie, zastraszanie, nękanie, poniżanie i&nbsp;wykorzystywanie innych osób. Ponadto zabrania się podszywania pod inne osoby.</li>
        <li class="bibliography__item">Użytkownik powinien mieć świadomość, że&nbsp;serwis nie&nbsp;ponosi żadnej odpowiedzialności za&nbsp;treści publikowane za&nbsp;jego pośrednictwem.</li>
        <li class="bibliography__item">W&nbsp;przypadku naruszenia postanowień niniejszego regulaminu administrator serwisu zastrzega sobie prawo do&nbsp;upomnienia użytkownika, który dokonał takiego naruszenia.</li>
    </ol>
</article>
{% endblock %}